*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.cardimage{
  padding-top: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}